section.ceremonia-fiesta .col-ceremonia .anim-anillos,
section.ceremonia-fiesta .anim-fiesta {
  width: 50%;
  max-width: 175px;
}

@media only screen and (max-width: 767px) {
  section.portada .content-portada h1 {
    color: var(--color-1);
    font-family: var(--fuente-1);
    font-weight: var(--weight-font-regular);
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 110px;
    margin-bottom: 0;
  }
  section.portada .box-nombres-fecha-portada h1 span {
    font-family: var(--fuente-2);
    font-weight: var(--weight-font-regular);
    background-color: var(--color-2);
    color: var(--color-4);
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    font-weight: 300;
    margin: 1rem;
  }
  section.cuenta-regresiva .box-aros {
    width: 100%;
    height: 400px;
    background-size: contain;
    position: absolute;
    z-index: 99;
    top: -155px
  }  
  section.cuenta-regresiva .box-aros .box-circulo {
    width: 265px;
    height: 315px;
  }
  section.portada::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    width: 100%;
    bottom: -10%;
    z-index: 9;
    top: 12;
  }
  section.portada .box-frase-portada p {
    font-size: 20px;
    margin-bottom: 100px;
  }
  .title {
    font-size: 55px;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 75px;
    margin-bottom: 15px;
  }
  section.portada .content-portada span.fecha:before {
    right: 0;
  }
  section.portada .content-portada span.fecha:after {
    left: 0;
  }
  section.portada .content-portada span.fecha {
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 9rem;
  }
  section.fiesta {
    padding-top: 00%;
    position: relative;
    padding-bottom: 10%;
  }
  section.instagram:before {
    background-image: url(https://fixdate.io/modelo-invitacion/65/img/lineas02.svg);
    position: absolute;
    content: '';
    /* background-size: contain !important; */
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    width: 100%;
    top: -1px;
}
  section.instagram:after {
    background-image: url(https://fixdate.io/modelo-invitacion/30/img/img_ondas06.svg);
    position: absolute;
    content: '';
    /* background-size: contain !important; */
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    width: 100%;
    bottom: -2px;
    z-index: 99;
}
section.footer h4 {
  font-family: var(--fuente-1);
  font-weight: var(--weight-font-regular);
  color: var(--color-1);
  width: 100%;
  text-align: center;
  font-size: 65px;
}
}
