:root {
  --color-1: #4A6360;
  --color-2: #81948B;
  --color-3: #C6D7CF;
  --color-4: #EFEDE7;
  --color-5: #FAF7F3;
  --color-6: #868686;
  --color-7: #BFA880;
  --fuente-1: 'Parisienne', cursive;
  --fuente-2: 'Open Sans', sans-serif;
  --fuente-3: 'Cookie', cursive;
}

.boton {
  background: #fff;
  color: var(--color-2);
}

section.ceremonia-fiesta .addeventatc .nameBtn {
  color: var(--color-2);
}

section.ceremonia-fiesta .info-col .info-box h6 {
  font-family: var(--fuente-2);
  color: var(--color-1);
  font-size: 25px;
  font-weight: 700;
}

section.fiesta {
  padding-top: 10%;
  position: relative;
  padding-bottom: 17%;
}

section.ceremonia-fiesta {
  padding-bottom: 0%;
  position: relative;
}

section.ceremonia-fiesta:after {
  background-image: none;
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
}

section.ceremonia-fiesta:after {
  background-image: none;
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-image: url(https://fixdate.io/modelo-invitacion/65/img/lineas02.svg);
}
section.instagram:before {
  background-image: url(https://fixdate.io/modelo-invitacion/65/img/lineas02.svg);
}

section.instagram:after {
  background-image: url(https://fixdate.io/modelo-invitacion/30/img/img_ondas06.svg);
}

section.portada .box-nombres-fecha-portada h1 span {
  font-family: var(--fuente-2);
  font-weight: var(--weight-font-regular);
  background-color: var(--color-2);
  color: var(--color-4);
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  font-weight: 300;
  margin-top: 1rem;
}

section.cuenta-regresiva .box-aros {
  width: 500px;
  height: 500px;
  background-size: contain;
  position: absolute;
  z-index: 99;
  top: -200px
}

section.fiesta .item-fiesta .content-item-fiesta {
  background-color: var(--color-4);
}

section.portada::after {
  background-image: url(https://fixdate.io/modelo-invitacion/30/img/img_ondas01.svg);
}

section.portada .content-portada span.fecha {
  font-size: 25px;
  margin-bottom: 20px;
  padding-top: 3rem;
}

section.regalos {
  background-color: var(--color-5);
  padding-top: 0%;
  position: relative;
  padding-bottom: 5%;
}

section.instagram {
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
}

section.footer {
  position: relative;
  background: url(../img/img_texturaFondo.jpg) left top repeat var(--color-5);
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: -2px;
}

section.instagram .hashtag {
  color: var(--color-2);
}

section.footer .col-acciones-footer ul a {
  color: var(--color-2);
}
